html {
    background-image: url("../images/images.jpg");
}

head {
    font-family: 'Orbitron', sans-serif;
}

body {
    font-family: 'Orbitron', sans-serif;
    font-size: 18px;
    line-height: 150%;
    background:transparent;
}



#rand-number,
#game-stats,
#current-number,
p,
h1 {
    border: solid #000 1px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}

